body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/mooning.png");
  background-repeat: repeat;
}
a {
  color: #00b7ff;
}
#map {
  width: 400px;
  height: 500px;
  float: left;
  margin-left: 50px;
  margin-bottom: 100px;
  -webkit-box-shadow: 10px 10px 5px #666;
  box-shadow: 10px 10px 5px #666;
}
#content-and-controls {
  margin-left: 50px;
  float: left;
}
#content-and-controls button {
  margin-right: 10px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
#hovered-info {
  height: 300px;
  width: 350px;
  margin: 0 10px 20px 0;
  padding: 10px;
  border: 2px solid #555;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
}
#hovered-info table {
  width: 325px;
}
#hovered-info table th {
  width: 175px;
  padding: 6.9px;
  text-align: left;
}
#color-legend {
  height: 165px;
  width: 150px;
  margin: 0 10px 20px 0;
  padding: 10px;
  border: 2px solid #555;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  float: left;
}
#color-legend p {
  margin-bottom: 7px;
}
#color-legend ul {
  list-style-type: none;
}
#color-legend ul li {
  font-size: 9px;
}
#color-legend ul li i {
  height: 5px;
  width: 5px;
}
#streaming-household-count {
  height: 165px;
  width: 150px;
  margin: 0 10px 20px 0;
  padding: 10px;
  border: 2px solid #555;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  float: left;
}
#tract-details {
  float: left;
  margin-left: 50px;
}
#tract-details #detail-box {
  min-height: 165px;
  max-height: 450px;
  overflow-y: auto;
  width: 500px;
  margin: 0 10px 20px 0;
  padding: 10px;
  border: 2px solid #555;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
}
#tract-details #detail-box .sales-table {
  width: 140px;
}
#tract-details #detail-box .sales-table th {
  text-align: left;
}
