@import 'nib'

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url('../images/mooning.png')
  background-repeat: repeat

a
  color: #00B7FF

#map
  width: 400px
  height: 500px
  float: left
  margin-left: 50px
  margin-bottom: 100px
  box-shadow: 10px 10px 5px #666

#content-and-controls
  margin-left: 50px
  float: left

  button
    margin-right: 10px

.clearfix
  clearfix()

#hovered-info
  height: 300px
  width: 350px
  margin: 0 10px 20px 0
  padding: 10px
  border: 2px solid #555
  border-radius: 5px
  background-color: #EEE

  table
    width: 325px
    th
      width: 175px
      padding: 6.9px
      text-align: left

#color-legend  
  height: 165px
  width: 150px
  margin: 0 10px 20px 0
  padding: 10px
  border: 2px solid #555
  border-radius: 5px
  background-color: #EEE
  float: left

  p
    margin-bottom: 7px
  ul
    list-style-type: none
    li
      font-size: 9px
      i
        height: 5px
        width: 5px

#streaming-household-count  
  height: 165px
  width: 150px
  margin: 0 10px 20px 0
  padding: 10px
  border: 2px solid #555
  border-radius: 5px
  background-color: #EEE
  float: left

#tract-details
  float: left
  margin-left: 50px

  #detail-box
    min-height: 165px
    max-height: 450px
    overflow-y: auto
    width: 500px
    margin: 0 10px 20px 0
    padding: 10px
    border: 2px solid #555
    border-radius: 5px
    background-color: #EEE

    .sales-table
      width: 140px
      th
        text-align: left